
.container-searcher{
    width: 92%;
    min-width: 295px;
    display: flex;
    align-items: center;
    margin: auto;
}

.container-searcher_input{
    border: 0px;
    background: #F1EDED;
    border-radius: 5px;
    width: calc(100% - 24px);
    display: inline;
    padding-left: 10px;
    min-height: 25px;
    height: 4vh;
    font-size: 2.4vh;
}
.container-searcher_input:focus-visible{
    outline: 0;
    outline-color: var(--blue);
    outline-style: solid;
    outline-width: 1px;
}

.container-searcher_button{
    width: 24px;
    background-image: url('src/assets/icons/logo-search.svg');
    height: 24px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 0px;
    background-color: transparent;
}
