.container-footer{
    height: 144px;
    width: 100%;
    background-color: var(--blue);
    padding: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.container-footer--info{
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-footer--info_logo{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: end;
    background-repeat: no-repeat;
    background-size: contain;
} 

.container-footer--info__logo_MF{
    width: 170px;
    height: 100%;
    background-image: url('src/assets/icons/logo-motor-fortune.svg');
    background-repeat: no-repeat;
    background-size: contain;
} 
.container-footer--info__visit-us{
    width: 50%;
    height: 105px;
    padding-left: 10px;
    display: flex;
    flex-wrap: wrap;
   align-items: center;
}

.container-footer--info__visit-us h2{
    margin: 0;
    padding: 0;
    font-size: 2.5rem;
    text-decoration: underline;
    line-height: 40px;

}
.container-icons{
    width: 100%;
    display: flex;
    align-items: center;
}
.logo-twitter{
    background-image: url('src/assets/icons/twitter.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 50px;
    height: 50px;
}
.logo-facebook{
    background-image: url('src/assets/icons/facebook.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 50px;
    height: 50px;
}
.logo-instagram{
    background-image: url('src/assets/icons/instagram.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 50px;
    height: 50px;
}
.line-footer{
    height: 2px;
    width: 75%;
    max-width: 500px;
    background-color: black;
    margin: auto;
    margin-top: 4px;
    margin-bottom: 0px;
}
.container-footer--copyright__name{
    font-size: 1.5rem;
    margin: 0;
}
.copyright-logo{
    background-image: url('src/assets/icons/copyright.svg');
    width: 15px;
    height: 15px;
    margin-right: 4px;
}
.container-footer--copyright{
    display: flex;
    align-items: center;
    justify-content: center;
}