.container-product{
    display: flex;
    height: 100%;
}
.product-img{
    width: 70%;
    height: auto;
    background-image: url("src/assets/imgs/bmw.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.container-product h2{
    margin: 0;
    display: flex;
    align-items: center;
    margin: auto;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    padding: 1px;
    letter-spacing: 0.01em;
    color: #433D3C;
    padding-left: 10px;
}