:root{
  --blue: #0057FF;
  --soft-gray: #F1EDED;
  --background-white: #fff;
  --background-gray:rgba(0, 0, 0, 0.42);
  --grey: #433D3C;

}


html{
  font-size: 62.5%;
}
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Niramit',sans-serif;
}

#root{
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
}



