:root{
  --blue: #0057FF;
  --soft-gray: #F1EDED;
  --background-white: #fff;
  --background-gray:rgba(0, 0, 0, 0.42);
  --grey: #433D3C;

}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}
body{
  font-family: 'Niramit',sans-serif;
}

#root{

  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}



